html,
body {
  --spacing-4x-small: 0.125em;
  --spacing-3x-small: 0.25em;
  --spacing-2x-small: 0.5em;
  --spacing-x-small: 0.75em;
  --spacing-medium: 1em;
  --spacing-large: 1.25em;
  --spacing-2x-large: 1.5em;
  --spacing-3x-large: 2em;
  --spacing-4x-large: 3em;
  --spacing-5x-large: 4em;

  --font-size-4x-small: 0.125em;
  --font-size-3x-small: 0.25em;
  --font-size-2x-small: 0.5em;
  --font-size-x-small: 0.75em;
  --font-size-medium: 0.875em;
  --font-size-large: 1em;
  --font-size-2x-large: 1.25em;
  --font-size-3x-large: 1.5em;
  --font-size-4x-large: 2em;
  --font-size-5x-large: 3em;
  --font-size-6x-large: 4em;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
